a {
	color: #fff;
	font-weight: 100;
}

.cc-bar {
	background: #164876;
	color: #fff;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: flex;
	max-height: 100%;
	place-content: center flex-start;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

.cc-text {
	font-weight: 500;
}

.cc-btn {
	cursor: pointer;
	display: block;
	min-width: 150px;
	padding: .4em .8em;
	font-size: .9em;
	font-weight: 700;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	white-space: nowrap;
}

.cc-btn,
.cc-text {
	margin-left: 24px;
	margin-right: 24px;
}

.fx-spacer {
	flex: 1 1 auto;
}

@media (max-width: 992px) {
	.cc-bar {
		flex-direction: column;
		text-align: center;

		.cc-text {
			font-weight: 500;
			margin-bottom: 16px;
		}
	}
}