<div class="cc-bar" *ngIf="showNotification | async" [@slide]>
  <div class="cc-text">
    {{ text }}
    <a *ngIf="learnMoreIsInternal" [routerLink]="[config.learnMore.internalLink]">Read policy</a>
    <a *ngIf="!learnMoreIsInternal" [href]="config.learnMore.externalLink">Read policy</a>
  </div>
  <div class="fx-spacer"></div>
  <a class="cc-btn" (click)="dismiss()">Got it!</a>
</div>